:root {
    --bg-background-color: #F4F4F2;
    --grey: #CECECE;
    --grey-2: #D8D8D8;
    --white-0: #ECECEA;
    --white-1:#BECCCF;
    --contrast-color:#FF5921;
    --marine:#04050C;
    --grey-3:#727270;
    --button-green:#127119;
    --white-3:#DAEDCE;
    --shadow-black-25:#00000025;
    --shadow-black-10:#00000010
}